html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/main_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#grid-container {
  display: grid;

  width: 1000px;
  grid-template-columns: 1fr repeat(12);
  grid-template-rows: 1fr repeat(12);
}

nav {
  background-color: hsla(0, 0%, 0%, 0.835);
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  position: fixed;
  width: 1200px;
}

nav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.mainHeading {
  font-size: 200px;
  font-family: "Righteous", cursive;
  color: hsla(0, 21%, 51%, 0.767);
  text-align: center;
}

h2 {
  font-size: 50px;
  color: hsla(0, 0%, 100%, 0.609);
  text-align: center;
}
form {
  justify-self: center;
}
label {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: left;
}

footer p {
  font-size: 10px;
  color: white;
}
