html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/main_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#grid-container {
  display: grid;
  width: 1000px;
  grid-template-columns: 1fr repeat(12);
  grid-template-rows: 1fr repeat(12);
}

nav {
  background-color: hsla(0, 0%, 0%, 0.835);
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  position: fixed;
  width: 1000px;
  padding: 0.5rem;
  margin-left: 3rem;
}

nav a {
  color: hsla(0, 21%, 51%, 0.767);
  font-size: 2rem;
  text-decoration: none;
}

.mainHeading {
  font-size: 200px;
  font-family: "Righteous", cursive;
  color: hsla(61, 97%, 49%, 0.794);
  text-align: center;
  padding-left: 3rem;
}
.mainHeading span {
  font-style: italic;
  letter-spacing: 0.95rem;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  color: hsla(61, 97%, 49%, 0.965);
  text-align: center;
}

.searchBar {
  display: flex;
  align-content: center;
  justify-content: center;
}
form {
  background-color: hsla(0, 20%, 3%, 0.815);
  padding: 1rem;
  border: 1px solid hsla(0, 20%, 3%, 0.965);
}

label {
  font-size: 20px;
  align-content: center;
  color: hsla(0, 21%, 51%, 0.767);
}

h3 {
  padding-top: 2rem;
  font-size: 20px;
  text-align: right;
  color: hsla(0, 20%, 3%, 0.815);
}

footer p {
  font-size: 10px;
  color: hsla(0, 20%, 3%, 0.815);
  text-align: right;
  clear: both;
}
#mailIcon {
  float: right;
  width: 2rem;
  height: 2rem;
  padding-bottom: 1rem;
}
