/*global styles*/

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/main_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: hsla(0, 0%, 0%, 0.835);
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  position: sticky;
  width: 100%;
  padding: 0.5rem;
}

nav a {
  color: hsla(0, 21%, 51%, 0.767);
  font-size: 2rem;
  text-decoration: none;
}

.mainHeading {
  font-size: 200px;
  font-family: "Righteous", cursive;
  color: hsla(61, 97%, 49%, 0.794);
  text-align: center;
  padding-left: 3rem;
}
.mainHeading span {
  font-style: italic;
  letter-spacing: 0.95rem;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  color: hsla(61, 97%, 49%, 0.965);
  text-align: center;
}

.searchBar {
  display: flex;
  align-content: center;
  justify-content: center;
}
form {
  background-color: hsla(0, 20%, 3%, 0.815);
  padding: 1rem;
  border: 1px solid hsla(0, 20%, 3%, 0.965);
}

label {
  font-size: 20px;
  align-content: center;
  color: hsla(0, 21%, 51%, 0.767);
}

h3 {
  padding-top: 2rem;
  font-size: 20px;
  text-align: right;
  color: hsla(0, 20%, 3%, 0.815);
  padding-right: 2rem;
}

footer p {
  font-size: 10px;
  color: hsla(0, 20%, 3%, 0.815);
  text-align: right;
  clear: both;
}
#mailIcon {
  float: right;
  width: 2rem;
  height: 2rem;
  padding-bottom: 1rem;
  width: 60px;
  height: auto;
  padding-right: 1.5rem;
}

/*Rock Page*/

.rock {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/rockBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Metal page*/

.metal {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/metalBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Elctronic page*/
.electroHeading {
  font-size: 200px;
  font-family: "Righteous", cursive;
  color: hsla(61, 97%, 49%, 0.794);
  text-align: center;
  padding-left: 3rem;
}
.electroHeading span {
  font-style: italic;
  letter-spacing: 2rem;
}
.electronic {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/electronicBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#electroContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  padding-top: -10rem;
  padding-bottom: 3rem;
}

.electroImage {
  margin-top: 8px;
  width: 150px;
  height: 150px;
  border: 0.5px solid hsla(61, 97%, 49%, 0.794);
}

/*Pop page*/
.pop {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/popBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*indie page*/

.indie {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-image: url("./images/indieBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contact Page*/

.buttonContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.icon2 {
  float: right;
  width: 60px;
  width: 60px;
  padding-right: 1.5rem;
}
